select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}
/********模态框********/
.modal-dialog {
  margin: 150px auto 0;
  width: 784px;
  color: #333;
}
.modal-dialog .modal-content .modal-header {
  padding: 15px 5px 0 0;
  border-bottom: none;
}
.modal-dialog .modal-content .modal-header .close {
  margin-top: -13px;
  font-size: 28px;
  color: #2161b5;
  opacity: 1;
  font-weight: normal;
}
.modal-dialog .modal-content .modal-body {
  padding: 0 28px;
  min-height: 282px;
}
.modal-dialog .modal-content .modal-body p {
  margin-bottom: 20px;
}
.modal-dialog .modal-content .modal-body .form-control {
  padding: 0 20px 0 8px;
  margin-right: 28px;
  display: inline-block;
  vertical-align: middle;
  width: 133px;
  height: 20px;
  font-size: 12px;
  background: url(../images/selectbg.png) no-repeat 113px center;
}
.modal-dialog .modal-content .modal-body .tbWrap {
  margin: 20px 0;
  height: 256px;
  overflow-y: auto;
}
.modal-dialog .modal-content .modal-body .tbWrap table td,
.modal-dialog .modal-content .modal-body .tbWrap table th {
  padding: 3px 8px;
  border: none;
  text-align: left;
}
.modal-dialog .modal-content .modal-body .tbWrap table thead {
  background-color: #3e7dd1;
  color: #fff;
}
.modal-dialog .modal-content .modal-body .tbWrap table thead th:first-child {
  width: 20%;
}
.modal-dialog .modal-content .modal-body .tbWrap table thead th:nth-child(2) {
  width: 40%;
}
.modal-dialog .modal-content .modal-body .tbWrap table tbody td {
  font-size: 12px;
}
.modal-dialog .modal-content .modal-body .tbWrap table tbody tr:nth-child(even) {
  background-color: #d8dfe8;
}
/*******map********/
.BMap_bubble_content table {
  width: 100%;
}
.BMap_bubble_content table thead > tr {
  height: 26px;
}
.BMap_bubble_content table thead > tr th {
  padding: 0 8px;
  background-color: #3e7dd1;
  color: #fff;
  text-align: left;
}
.BMap_bubble_content table thead > tr th:first-child {
  width: 15%;
}
.BMap_bubble_content table tbody tr {
  height: 26px;
}
.BMap_bubble_content table tbody tr td {
  padding: 0 8px;
  text-align: left;
  font-size: 12px;
}
.BMap_bubble_content table tbody tr:nth-child(even) {
  background: #d8dfe8;
}
/********滑块*********/
.slider-container {
  display: inline-block;
  vertical-align: middle;
  font-family: "微软雅黑";
}
.slider-container .theme-green .scale span ins {
  margin-left: -9.5px;
}
.theme-green .back-bar {
  height: 1px;
}
.theme-green .back-bar .pointer {
  width: 24px;
  height: 24px;
  top: -13px;
  border: none;
  cursor: pointer;
  background: url(../images/range_pointer.png) no-repeat 0 0;
}
.theme-green .back-bar .selected-bar {
  background-color: #fff;
  background-image: none;
}
/******slideNav*******/
ul.slideNav {
  width: 75px;
  border-right: 1px solid #24373e;
  background-color: #1a2d45;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}
ul.slideNav li > a {
  padding: 58px 0 15px;
  display: block;
  color: #fff;
  text-align: center;
  font-size: 12px;
}
ul.slideNav li.active {
  background-color: #56677a;
}
ul.slideNav li:first-child a {
  background: url(../images/icon_nav01.png) no-repeat center 15px;
}
ul.slideNav li:nth-child(2) a {
  background: url(../images/icon_nav04.png) no-repeat center 15px;
}
ul.slideNav li:nth-child(3) a {
  background: url(../images/icon_nav02.png) no-repeat center 15px;
}
ul.slideNav li:last-child a {
  background: url(../images/icon_nav03.png) no-repeat center 15px;
}
/*********tabs/rslide************/
.idxCont,
.dveCont {
  margin-left: 75px;
  position: relative;
  background-color: #08304A;
}
.idxCont .tabs,
.dveCont .tabs {
  padding-left: 7px;
  height: 56px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(31, 54, 82, 0.8);
  z-index: 10;
}
.idxCont .tabs li,
.dveCont .tabs li {
  margin-right: 12px;
  float: left;
}
.idxCont .tabs li a,
.dveCont .tabs li a {
  padding: 34px 14px 0;
  display: inline-block;
  height: 56px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center 6px;
}
.idxCont .tabs li.active > a,
.dveCont .tabs li.active > a {
  background-color: #3c78c9;
}
.idxCont .tabs li:first-child > a,
.dveCont .tabs li:first-child > a {
  background-image: url(../images/icon_tab01.png);
}
.idxCont .tabs li:nth-child(2) > a,
.dveCont .tabs li:nth-child(2) > a {
  background-image: url(../images/icon_tab02.png);
}
.idxCont .tabs li:nth-child(3) > a,
.dveCont .tabs li:nth-child(3) > a {
  background-image: url(../images/icon_tab03.png);
}
.idxCont .tabs li:nth-child(4) > a,
.dveCont .tabs li:nth-child(4) > a {
  background-image: url(../images/icon_tab04.png);
}
.idxCont .tabs li:nth-child(5) > a,
.dveCont .tabs li:nth-child(5) > a {
  background-image: url(../images/icon_tab05.png);
}
.idxCont .maptl,
.dveCont .maptl {
  padding-left: 20px;
  width: 80px;
  height: 53px;
  position: absolute;
  left: 10px;
  bottom: 45px;
  background: url(../images/icon_tl.png) no-repeat 0 0;
  z-index: 10;
}
.idxCont .maptl span,
.dveCont .maptl span {
  position: absolute;
  left: 20px;
  font-size: 12px;
}
.idxCont .maptl span:first-child,
.dveCont .maptl span:first-child {
  top: 0;
}
.idxCont .maptl span:last-child,
.dveCont .maptl span:last-child {
  bottom: 0;
}
.idxCont .rslide,
.dveCont .rslide {
  width: 260px;
  position: absolute;
  top: 62px;
  right: 7px;
  z-index: 10;
  background-color: rgba(17, 30, 50, 0.8);
}
.idxCont .rslide a.slideTiggle,
.dveCont .rslide a.slideTiggle {
  padding-left: 32px;
  position: absolute;
  left: -32px;
  top: 251px;
  display: inline-block;
  width: 32px;
  height: 96px;
  overflow: hidden;
  background: url(../images/slideTiggle.png) no-repeat 0 0;
}
.idxCont .rslide #return,
.dveCont .rslide #return {
  padding-left: 24px;
  display: block;
  height: 24px;
  width: 24px;
  position: absolute;
  top: 14px;
  left: 14px;
  z-index: 10;
  overflow: hidden;
  border: none;
  background: url(../images/return.png) no-repeat 0 0;
}
.idxCont .rslide #ectMap,
.dveCont .rslide #ectMap {
  margin-bottom: 6px;
  height: 226px;
  border: 1px solid #205293;
}
.idxCont .rslide .ects_exponentCont,
.dveCont .rslide .ects_exponentCont {
  position: relative;
  border: 1px solid #205293;
}
.idxCont .rslide .ects_exponentCont h3,
.dveCont .rslide .ects_exponentCont h3 {
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #2161b5;
  font-size: 16px;
}
.idxCont .rslide .ects_exponentCont #ects_exponent,
.dveCont .rslide .ects_exponentCont #ects_exponent {
  padding-top: 15px;
  height: 138px;
}
.idxCont .rslide .ects_exponentCont .txt,
.dveCont .rslide .ects_exponentCont .txt {
  padding: 0 7px;
  width: 100%;
  position: absolute;
  top: 114px;
  left: 0;
  background-color: transparent;
}
.idxCont .rslide .ects_exponentCont dl,
.dveCont .rslide .ects_exponentCont dl {
  padding: 0 7px 7px;
  font-size: 12px;
}
/********index********/
.idxCont .tabDiv {
  width: 100%;
  position: absolute;
  left: 7px;
  top: 62px;
  z-index: 10;
}
.idxCont .tabDiv div.tab {
  display: none;
}
.idxCont .tabDiv div.tab:first-child {
  display: block;
}
.idxCont .tabDiv div.tab .choose {
  position: relative;
  padding: 30px 40px;
  width: 764px;
  background-color: rgba(17, 30, 50, 0.8);
}
.idxCont .tabDiv div.tab .choose .close {
  padding: 0;
  color: #fff;
  position: absolute;
  right: 5px;
  top: 0;
  text-shadow: none;
  opacity: 1;
  font-size: 28px;
}
.idxCont .tabDiv div.tab .choose .checkbox-inline {
  margin-bottom: 24px;
  padding-left: 0;
  width: 46px;
}
.idxCont .tabDiv div.tab .choose .checkbox-inline input[type=checkbox] {
  margin-left: 15px;
}
.idxCont .tabDiv div.tab .choose .radio-inline {
  margin-bottom: 24px;
  padding-left: 0;
  width: 90px;
}
.idxCont .tabDiv div.tab .choose .radio-inline input[type=radio] {
  margin-left: 15px;
}
.idxCont .tabDiv div.tab .choose .radio-inline.last {
  margin-right: 20px;
}
.idxCont .tabDiv div.tab .choose .range-inline {
  position: relative;
  margin-bottom: 24px;
  margin-left: 34px;
  font-weight: normal;
  vertical-align: middle;
}
.idxCont .tabDiv div.tab .choose .range-inline span {
  margin: 0 12px;
}
.idxCont .tabDiv div.tab .choose .range-inline .slider-container .scale {
  display: none;
}
.idxCont .tabDiv div.tab .choose .mask {
  margin-top: -10px;
  height: 45px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 15;
  cursor: not-allowed;
}
.idxCont .tabDiv div.tab .choose button.btn {
  padding: 0 20px;
  margin-left: 18px;
  margin-bottom: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-color: #2161b5;
  color: #fff;
}
.idxCont .tabDiv div.tab .choose button.btn:focus {
  outline: none;
}
.idxCont .tabDiv div.tab .choose button.btn-default:hover {
  border-color: #fff;
}
.idxCont .tabDiv div.tab .choose select.form-control {
  margin-left: 10px;
  margin-bottom: 24px;
  padding: 0 20px 0 7px;
  display: inline-block;
  height: 24px;
  vertical-align: middle;
  width: 100px;
  background: #fff url(../images/selectbg.png) no-repeat 80px center;
}
.idxCont .tabDiv div.tab .choose select.time {
  margin-bottom: 0;
  margin-right: 25px;
  width: 70px;
  background: #fff url(../images/selectbg.png) no-repeat 50px center;
}
.idxCont .tabDiv div.tab .choose .range-inline-time {
  position: relative;
  font-weight: normal;
  vertical-align: middle;
}
.idxCont .tabDiv div.tab .choose .range-inline-time .slider-container {
  vertical-align: top;
}
.idxCont .tabDiv div.tab .choose .range-inline-time .theme-green .scale span {
  width: 27px;
}
.idxCont .tabDiv div.tab .choose .range-inline-time .theme-green .scale span ins {
  margin-top: 3px;
  color: #fff;
}
.idxCont .tabDiv div.tab .choose .range-inline-time .slider-container .scale span,
.idxCont .tabDiv div.tab .choose .range-inline-time .theme-green .scale span {
  border: none;
}
/*****用药监测******/
.mtrCont,
.stcCont {
  margin-left: 75px;
  padding: 30px 15px;
  background-color: #202f44;
}
.mtrCont .col-md-6 {
  margin-bottom: 22px;
}
.mtrCont .col-md-6 h3 {
  padding: 0 20px 0 10px;
  margin-bottom: 8px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  background: url(../images/h3bg.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.mtrCont .col-md-6 #echarts1,
.mtrCont .col-md-6 #echarts2,
.mtrCont .col-md-6 #echarts3,
.mtrCont .col-md-6 #echarts4,
.mtrCont .col-md-6 #echarts5 {
  margin-bottom: 12px;
  padding: 5px;
  height: 331px;
  background: #202f44 url(../images/ectbg.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.mtrCont .col-md-6 .info {
  padding: 26px 15px 20px 15px;
  height: 266px;
  overflow-x: hidden;
  overflow-y: auto;
  background: url(../images/tablebg.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.mtrCont .col-md-6 .info table {
  background-color: transparent;
}
.mtrCont .col-md-6 .info table th,
.mtrCont .col-md-6 .info table td {
  padding: 5px 10px;
  border: none;
  text-align: left;
}
.mtrCont .col-md-6 .info table thead tr {
  background-color: #5b7b97;
}
.mtrCont .col-md-6 .info table thead tr th:nth-child(1) {
  width: 33%;
}
.mtrCont .col-md-6 .info table thead tr th:nth-child(2) {
  width: 34%;
}
.mtrCont .col-md-6 .info table tbody tr:nth-child(even) {
  background-color: #5b7b97;
}
.mtrCont .col-md-6 .info table tbody tr td:nth-child(1) {
  width: 33%;
}
.mtrCont .col-md-6 .info table tbody tr td:nth-child(2) {
  width: 34%;
}
.stcCont .ectTabs {
  margin: 0;
  background: url(../images/ectTabsbg.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.stcCont .ectTabs .col-md-4 {
  padding: 20px 50px 0;
  margin: 8px 0;
  border-right: 2px solid #2c706f;
  box-shadow: 5px 0 0 #29374b;
  background: url(../images/tjectbg.png) no-repeat 40px 56px;
  background-size: 80% 78%;
}
.stcCont .ectTabs .col-md-4 h3 {
  padding: 0 26px 0 10px;
  margin-bottom: 16px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  background: url(../images/h3bg.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.stcCont .ectTabs .col-md-4 #ectTab1,
.stcCont .ectTabs .col-md-4 #ectTab2,
.stcCont .ectTabs .col-md-4 #ectTab3 {
  height: 268px;
}
.stcCont .ectTabs .col-md-4.last {
  border-right: none;
  box-shadow: none;
}
.stcCont .ectTabCont {
  margin-top: 12px;
  padding: 2px 2px 46px;
  background: #202f44 url(../images/subeatbg.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.stcCont .ectTabCont .row {
  margin: 0;
}
.stcCont .ectTabCont .row #div21,
.stcCont .ectTabCont .row #div22,
.stcCont .ectTabCont .row #div23,
.stcCont .ectTabCont .row #div24,
.stcCont .ectTabCont .row #div31,
.stcCont .ectTabCont .row #div32,
.stcCont .ectTabCont .row #div33,
.stcCont .ectTabCont .row #div34,
.stcCont .ectTabCont .row #div41,
.stcCont .ectTabCont .row #div42,
.stcCont .ectTabCont .row #div43,
.stcCont .ectTabCont .row #div44,
.stcCont .ectTabCont .row #div51,
.stcCont .ectTabCont .row #div52,
.stcCont .ectTabCont .row #div53,
.stcCont .ectTabCont .row #div54 {
  height: 220px;
}
.stcCont .ectTabCont .row .col-md-3 {
  padding: 0 20px;
  background: #202f44 url(../images/tjectbg.png) no-repeat center 10px;
  background-size: 90% 78%;
}
.stcCont .ectTabCont .row .col-md-3 h4 {
  margin-top: 12px;
  text-align: center;
}
.stcCont .ectTabCont .row .col-md-3 h4 span {
  padding: 0 3px;
  height: 12px;
  border-left: 2px solid #108dd2;
  border-right: 2px solid #108dd2;
  font-size: 12px;
  color: #108dd2;
}
/********地图********/
#map {
  width: 100%;
  background-color: #08304A;
}
.BMap_bubble_title {
  color: black;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
}
.BMap_pop div:nth-child(1) {
  border-radius: 7px 0 0 0;
}
.BMap_pop div:nth-child(3) {
  border-radius: 0 7px 0 0;
  background: #ABABAB;
  /*background: #ABABAB;*/
  width: 23px;
  width: 0px;
  height: 0px;
}
.BMap_pop div:nth-child(3) div {
  border-radius: 7px;
}
.BMap_pop div:nth-child(5) {
  border-radius: 0 0 0 7px;
}
.BMap_pop div:nth-child(5) div {
  border-radius: 7px;
}
.BMap_pop div:nth-child(7) {
  border-radius: 0 0 7px 0 ;
}
.BMap_pop div:nth-child div(7) {
  border-radius: 7px ;
}
.BMap_pop div:nth-child(8) img {
  border-radius: 0 0 7px 0 ;
}
.anchorBL {
  display: none;
}
/********divine.html风险预测*********/
.dveCont .detail {
  position: absolute;
  width: 100px;
  height: 24px;
  line-height: 24px;
  right: 274px;
  bottom: 35px;
  text-align: center;
  border-radius: 12px;
  background-color: #2161b5;
  color: #fff;
  z-index: 10;
}
